<!DOCTYPE html>
<html>
    <head>
        <title>Journal</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="header-title">
                    <img src="/img/logo.png" width=35 height=35 />
                    Things I Learned
                </div>
                <div class="header-right">
                    <div class="header-login-prompt"> Already have an account?</div>
                    <form action="/login" method="post">
                        <div class="header-login-col">
                            <label for="email">Email</label><br/>
                            <input type="text" name="email" />
                        </div>
                        <div class="header-login-col">
                            <label for="password">Password</label><br />
                            <input type="password" name="password" />
                        </div>
                        <div class="header-login-col">
                            <br/>
                            <input type="submit" value="OK" />
                        </div>
                    </form>
                </div>
                <div class="clearboth">
                </div>
            </div>
            <div class="main">
                <div class="main-content">
                    <img src="/img/main.png" width="580"/>
                </div>
                <div class="main-call-to-action">
                    "Things I Learned" sends you an email every day and asks you
                    what you learned that day. It is the easiest way to
                    keep track of your progress through life.

                    <button>
                        Sign up now!
                    </button>
                </div>
                <div class="clearboth"></div>
                <div class="bottom">
                    Why we're better than all our competitors.
                    <br /><br />
                    ...a journal: pen and paper are very last century. You might
                    not always have your journal on hand. Nor are journals fault
                    tolerant: they can be lost, stolen, or lit on fire. They
                    also do not provide the same search functionality as their
                    electronic counterparts.
                    <br /><br />
                    ...textpad: your harddrive may fail at a probability
                    slightly higher than ours. Depending on how technical you
                    are, your hard drive might also be harder to access when you
                    are away from your computer. Plus, no one reminds you to write
                    in it every day.
                    <br /><br />
                    ...word document: same as text pad, plus windows.
                    <br /><br />
                    ...google docs: the NSA will know about it before they know
                    about us.
                </div>
            </div>
        </div>
    </body>
</html>
